@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Tangerine';
  src: url('../fonts/Tangerine-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html {
	height: 100%;
	overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body {
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
	color: #bf9d77;
	background-color: #141414;
	font-size: 16px;
    flex-grow: 1;
}

body a:hover {
	text-decoration: underline;
}

a {
	color: #850820;
}
a:visited {
	color: #5e0114;
}
a:hover {
	color: #c91438;
}

hr {
	border-top: 1px solid #bf9d77;
}

nav {
	background-color: #210107 !important;
	background-repeat: repeat-x;
	background-size: cover;
	font-style: zapfino;
	font-size: 2rem;
}

hr {
	color: #bf9d77;
}

.dropdown-menu li
{
	font-size: 2rem;
}

.navbar-brand {
	color: #bf9d77 !important;
	font-size: 3rem;
	font-family: 'Tangerine', serif;
}

.navbar-brand a:hover {
	text-decoration: underline;
}

ul.nav a {
	color: #bf9d77 !important;
	font-family: 'Inconsolata', monospace;
}

ul.nav a:hover {
	text-decoration: underline;
}

.post-description {
	color: #bf9d77;;
}

.post-title {
	color: #850820;
}

.post-text {
	color: #caa479;;
}

.post-date {
	color: #b3936f;
}

.comments {
    color: #bf9d77;
}

.badge.pull-right {
	color: #42000d
}

#home-container {
	margin-top:120px;
	max-width: 100%;
	max-height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

.description {
	border-style: solid;
}

#blog-post {
	padding-top: 3rem; 
	position: absolute;
}

#blog-container {
	padding-top: 3rem; 
	margin: auto;
}

#post-header {
	overflow: hidden;
	padding: 0 5px 0 5px;
}

#author {
	font-family: 'Tangerine', serif;
	font-size: 5rem;
}

.page-heading {
  padding-bottom: 3rem;
  padding-top: 3rem; 
}

.page-heading .page-title {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 1.1;
    text-align: center;
    color: #bf9d77; }

.profile-pic {
    position: relative;
	max-width: 609px;
}

.panel-heading {
    padding: 10px 15px;
    background-color: #353535;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 0%;
    cursor: pointer;
    opacity: 0.8;
    color: white;
    border: none;
}

.panel-body {
    padding: 60px 4% 5% 7%;
}

.panel-footer {
    background-color: #210107;
	border-top: 1px solid #000;
}

.panel-default {
    border-color: #210107;
	background: rgb(2,0,2);
	background: linear-gradient(0deg, rgba(2,0,2,1) 0%, rgba(0,0,0,1) 40%, rgba(133,8,32,1) 95%);
	max-width:740px;
}

.box {
    padding:2%;
    border:1px #ddd solid;
    cursor:pointer;
}


.remove-decoration {
    text-decoration:none !important;
    color:#ddd;
    font-size:12px;
}

/* footer social icons */
#IdFooter .social-network {
    list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

#IdFooter .social-network li {
	display: inline;
	margin: 0 5px;
}

#IdFooter .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	text-align:center;
	width: 35px;
	height: 35px;
	font-size:18px;
}

#IdFooter .social-circle li a:hover {
	text-decoration: underline;
}

#IdFooter .social-circle li i {
	margin:0;
	line-height:38px;
	text-align: center;
}

#IdFooter a {
 background-color: none;
}

.footer {
	display: block;
	width: 100%;
	padding: 0px;
	height: 50px;
	color: #bf9d77;
    bottom: 0;
}
